.dinosaures {
    max-width: 1500px;
    margin: auto;
}

#animate1 {
    height: 450px;
    background: pink;
    display: flex;
    margin: 700px auto 0;
    padding: 2em;
}

#animate2 { 
        height: 450px;
        display: flex;
        margin: auto;
        background: rgb(226, 65, 92);
}
    
body {
        background: #f1f1f1;
        margin: 0;
        padding: 0;
        height: 2000px;
        overflow-x: hidden;
}

h1 {
        text-align: center;
        position: relative;
        top: 150px;
        font-family: 'Calligraffitti', cursive;
        font-size: 150px;
        margin: 0;
}
    
.box {
        width: 50%;
        height: 450px;
}

.boxTrex {
    text-align: right;
    padding: 2em;
}
    
#raptor {
        position: relative;
        right: 1600px;
        width: 80%;
        height: 100%;
        top: -50px;
}
    
#trex {
        width: 110%;
        position: relative;
        bottom: 10px;
        margin-left: -100px;
        height: 110%;
        left: 1800px;
}
    
#raptorTitle {
        font-size: 60px;
        margin-bottom: 0;
}
    
.listeRaptor{
        font-size: 20px;
        list-style: none;
        margin-left: -40px;
        font-family: 'Gugi';
}
    
.raptorLi {
        margin-top: 10px;
}
    
.hr1 {
        width: 280px;
        height: 2px;
        background: #000;
        position: relative;
       margin-left: 0px;
       border:none;
}

.hr2 {
    width: 280px;
        height: 2px;
        background: #000;
        position: relative;
        margin-right: 0px;
       border:none;
}
    
.btn {
        background: transparent;
        border: none;
        border: 1px solid black;
        padding: 10px 20px;
        cursor: pointer;
        transition: all 0.1s;
        font-size: 15px;
}
    
.btn:hover {
        background: #000;
        color: #fff;
}